<div class="page_border">
  <h1 style="background-color: white;padding: 0;margin: 0;">New user</h1>

  <%= render "form", user: @user %>

  <br>

  <div>
    <%= link_to "Back to users", users_path %>
  </div>
</div>